---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyD2JsO69vTZ5IBUs1k_GwZUJbmXQ6LNwyI&location=37.7792808,-122.4192363&radius=10000&rankby=prominence&type=lodging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CrQCIgEAAPXGQhm5p9Il34W5ZL8_sz14nIQJtPhbXl8S_NmU1evgYAlXUPa0Cti7qX4VoNGo8vRIKvJTRvWDhoqpeEziorWiYg6ZUQmSJUTmP4GIG6CaEB4eeOLPCcbcr5lyVd6rG2AbhOEOPv4Gp4HG1HhElOxG8c4hGi1EmFVbVng0wGKwAtJbKrzwZLDzxZ-yr0GjsDve138HdwQAb8dxS5cUfMeE_8BKxmOqa72vE3I7E-Z9aUaC70pewuQlGdO2l0bs_Y3csPgCyz-a5KwZxVd6DAMC8Yy0wrjDswzyW4aNFAo3OpHmacQNCV5MzfF2vHs1PmiYL_D4jqstYeocdeO-SkzavNxmbodIWeMraCwf-7AEwVaxcbcILXxU7SEFd5dolz1yBHiYXlwNH1Aeb2nS0RkSELkP7UMbhOf0xiLJ7QDjkKkaFDBHtjbDvds_E5D3Vt_E9A-UVLaF",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 37.7867167,
                       "lng" : -122.4111737
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.7881962302915,
                          "lng" : -122.4098846697085
                       },
                       "southwest" : {
                          "lat" : 37.7854982697085,
                          "lng" : -122.4125826302915
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png",
                 "id" : "3344890deedcb97b1c2d64814f92a02510ba39c8",
                 "name" : "The Clift Royal Sonesta Hotel",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 1000,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/114937580614387417622/photos\"\u003eThe Clift Royal Sonesta Hotel\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAloIp2hzafjmZfLokV9ERbxWhvKOwLQsc5YyxXzphyzvEmK7aEbt36-tIoYtaLRro7wQYnpvwkxpoymjos_ER-G8ZggCKbAiq8JK2mky4yJXGt-DPnqy6-sSrNVhIu1H6EhAVWxbO3bo0HQMVGB72We_sGhSwJn8DF-cqsRVhhP8wW8XCWGXCrQ",
                       "width" : 800
                    }
                 ],
                 "place_id" : "ChIJFUBxSY6AhYARwOaLV7TsLjw",
                 "plus_code" : {
                    "compound_code" : "QHPQ+MG Tenderloin, San Francisco, CA, United States",
                    "global_code" : "849VQHPQ+MG"
                 },
                 "rating" : 4.1,
                 "reference" : "ChIJFUBxSY6AhYARwOaLV7TsLjw",
                 "scope" : "GOOGLE",
                 "types" : [ "lodging", "point_of_interest", "establishment" ],
                 "vicinity" : "495 Geary Street, San Francisco"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 37.791403,
                       "lng" : -122.412201
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.79288173029149,
                          "lng" : -122.4108766697085
                       },
                       "southwest" : {
            [...]
