<section class='main'>
  <article class='left-main'>
    <div class="left-main-text">
      <div class="left-main-line">
        <i class="fa fa-sun icon"></i>
        <p id="weather-line">Weather</p>
      </div>
      <div class="left-main-line">
        <i class="fas fa-walking icon"></i>
        <p id="activities-line">Activities</p>
      </div>
      <div class="left-main-line">
        <i class="fas fa-bed icon"></i>
        <p id="lodiging-line">Lodging</p>
      </div>
    </div>
  </article>

  <article class='right-main'>
    <div class='right-main-header'>
    </div>
    <div class="right-main-icon">
      <i class="fas fa-road road-icon" id="road-icon"></i>
    </div>
    <div class="right-main-subheader">
      <div id='right-subheader'>Plan your next road trip with RoadTripper.</div>
    </div>
    <div id='join-roadtripper'>
      <p>Join RoadTripper today.</p>
    </div>
    <div class=><%= button_to 'Create an Account', '/auth/google_oauth2', method: :get, class:"btn btn-success create-account-button" %></div>
    <div class=><%= button_to 'Sign In With Google', '/auth/google_oauth2', method: :get, class:"btn btn-success sign-in-button" %></div>
  </article>
</section>

<footer>
  <div class='footer-link'>presented by Colin Armstrong</div>
</footer>
