/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*/

@import 'bootstrap';

body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-block {
  font-size: 20px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.form-buttons {
  border-top: 1px solid rgba(160, 175, 186, 0.4);
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.footer-link {
  color: rgba(160, 175, 186, 1.0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
}

.main {
  height: 95%;
  display: flex;
  border-bottom: 1px solid rgba(160, 175, 186, 0.4);
}

.left-main {
  background-color: rgba(68, 82, 0, 1.0);
  background: image-url("welcome_road.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  color: white;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-main-text {
  font-size: 72px;
  text-shadow: 2px 2px rgba(68, 82, 0, 1.0);
}

.left-main-line {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 35px;
}

.follow-your-interests {
  display: flex;
}

.hear-what-people-are-talking-about {
  display: flex;
}

.join-the-conversation {
  display: flex;
}

.right-main {
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-main-header {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.right-main-icon {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.right-main-subheader {
  margin-top: 25px;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.create-account-button {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(134, 175, 73, 1.0);
  border: solid 1px rgba(134, 175, 73, 1.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-button {
  color: rgba(134, 175, 73, 1.0);
  margin-top: 25px;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: solid 1px rgba(134, 175, 73, 1.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-nav {
  z-index: 1;
  height: 50px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container {
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.nav-photo {
  height: 100%;
}

.nav-profile-pic {
   border-radius: 50%;
   height: 100%;
   margin-top: 2px;
}

.nav-icon {
  height: 36px;
}

.nav-logo {
  margin-left: 10px;
  height: 35px;
}

.logout-button {
  font-size: 13px;
  height: 36px;
  width: 75px;
  margin-left: 18px;
  border-radius: 25px;
  background-color: rgba(134, 175, 73, 1.0);
  border: solid 1px rgba(134, 175, 73, 1.0);
}

.dashboard-header {
  background-color: rgba(68, 82, 0, 1.0);
  background: url("dashboard_header2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.sub-nav {
  height: 60px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-bar {
  color: rgb(99, 113, 127);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trips-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.distance-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cities-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buddies-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trip-count-title {
  font-size: 14px;
}

.trip-count-number {
  font-size: 20px;
}

.create-new-trip-button {
  color: white;
  margin-top: 4px;
  margin-right: 30px;
  width: 160px;
  height: 38px;
  border-radius: 25px;
  background-color: rgba(134, 175, 73, 1.0);
  border: solid 1px rgba(134, 175, 73, 1.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-profile-button {
  color: rgba(134, 175, 73, 1.0);
  margin-top: 4px;
  margin-right: 30px;
  width: 160px;
  height: 38px;
  border-radius: 25px;
  background-color: white;
  border: solid 1px rgba(134, 175, 73, 1.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-section {
  margin-left: 50px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: -110px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
}

.user-email {
  font-size: 15px;
  color: rgb(115, 130, 143);
}

.user-location {
  font-size: 15px;
  color: rgb(115, 130, 143);
}

.user-joined {
  font-size: 15px;
  color: rgb(115, 130, 143);
}

.user-photos {
  font-size: 15px;
  color: rgb(115, 130, 143);
}

.photo-grid {
  margin-left: -8px;
  margin-top: 2px;
  width: 264px;
  max-height: 178px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.grid-photo {
  border-radius: 4px;
  height: 80px;
  width: 80px;
  margin: 4px;
}

.email-icon {
  margin-right: 9px;
}

.location-icon {
  margin-right: 12px;
}

.calendar-icon {
  margin-right: 10px;
}

.photo-icon {
  margin-right: 10px;
}

.dashboard-main {
  background-color: rgba(231, 236, 240, 1.0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.trip-main {
  margin: 10px;
  width: 430px;
  height: 330px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.trip-main-first {
  margin: 10px;
  width: 430px;
  height: 330px;
  background-color: rgba(231, 236, 240, 1.0);
}

.trip-header {
  margin-bottom: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.trip-images-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.trip-grid-photo {
  border-radius: 3px;
  margin: 5px;
  height: 100px;
  width: 160px;
}

.trip-stats {
  margin-top: 12px;
  color: rgb(99, 113, 127);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trip-stats-icon {
  margin-right: 5px;
}

.mapboxgl-ctrl-top-right {
  margin-top: 75px;
}

.mapboxgl-ctrl-top-left {
  margin-top: 75px;
}

.mapbox-directions-clearfix {
  height: 30px;
}

#right-subheader {
  font-size: 36px;
}

#join-roadtripper {
  margin-top: 50px;
  width: 75%;
  display: flex;
}

#road-icon {
  color: rgba(134, 175, 73, 1.0);
  font-size: 48px;
}

#activities-line {
  margin-left: 35px;
}

#weather-line {
  margin-left: 8px;
}

#lodging-line {
  margin-right: 5px;
}
